/* ================================
   АНИМАЦИИ СЕРДЕЧКА
   ================================ */
@keyframes heart-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes sparks-like {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.heart {
  transform-origin: center;
}

.sparks {
  opacity: 0;
}

.card__like-icon.is-liked .core {
  fill: red;
  transition: fill 0.3s;
}
.card__like-icon.is-liked .contour {
  fill: red;
  transition: fill 0.3s 0.06s;
}
.card__like-icon.is-liked .main-body {
  fill: red;
  transition: fill 0.3s 0.05s;
}
.card__like-icon.is-liked .sparks {
  animation: sparks-like 0.3s 0.3s backwards;
}
.card__like-icon.is-liked {
  animation: heart-scale 0.3s 0.1s backwards;
}

.card__like-icon:not(.is-liked):hover .core {
  fill: black;
  transition: fill 0.3s;
}
.card__like-icon:not(.is-liked) .core {
  fill: transparent;
  transition: fill 0.3s 0.03s;
}
.card__like-icon:not(.is-liked):hover .main-body {
  fill: black;
  transition: fill 0.3s 0.05s;
}
.card__like-icon:not(.is-liked) .main-body {
  fill: transparent;
  transition: fill 0.3s;
}

.card__icon-button:active .card__like-icon .core {
  fill: red;
  transition: fill 0.3s;
}
.card__icon-button:active .card__like-icon .main-body {
  fill: red;
  transition: fill 0.3s 0.05s;
}

/* ==================================================
   АНИМАЦИЯ КНОПКИ
   ================================================== */
.animated {
  position: relative;
}

.animated::before {
  content: "";
  background-color: #000;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  position: absolute;
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.animated:hover::before {
  transform: scaleX(1);
}

.animated svg * {
  fill: white;
}

.animated span {
  color: white;
}

.animated span,
.animated svg {
  mix-blend-mode: difference;
}
