.blur {
  filter: blur(5px) saturate(500%);
}

.grayscale {
  filter: grayscale(100%);
}

.invert {
  filter: invert(100%) saturate(30%) sepia(100%);
}

.sepia {
  filter: sepia(100%) hue-rotate(5deg);
}

.contrast {
  filter: contrast(200%);
}

.hue-rotate {
  filter: hue-rotate(90deg);
}

.brightness {
  filter: brightness(200%);
}
