/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes heart-like {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -200px;
  }
}

@keyframes heart-hover {
  from {
    background-position-x: 0;
    background-position-y: -76px;
  }
  to {
    background-position-x: -80px;
    background-position-y: -76px;
  }
}

@keyframes heart-active {
  from {
    background-position-x: 0;
    background-position-y: -152px;
  }
  to {
    background-position-x: -80px;
    background-position-y: -152px;
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--inter), sans-serif;
  font-variation-settings: "wght" var(--inter-wght-text);

  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header {
  inline-size: var(--adaptive-inline-size);

  min-block-size: 325px;

  font-family: var(--press-start), sans-serif;

  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;

  border: 2px solid #000;
  box-sizing: border-box;

  margin-block-start: 100px;
  margin-block-end: 100px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  inline-size: var(--adaptive-inline-size);
}

.card__title {
  font-size: 18px;
  font-variation-settings: "wght" var(--inter-wght-h3);

  /* line-height: 1px; */

  border: 2px solid #000;

  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.card__image-container {
  width: 100%;
  height: 100%;
  aspect-ratio: 1.0125;
  border: 2px solid #000;
  position: relative;
}

.card__image-container p {
  position: absolute;
  top: 25px;
  right: clamp(13px, calc(13px + 1vw), 25px);

  font-family: var(--press-start), sans-serif;
  font-size: 14px;
  opacity: 0.5;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #fff;
}

.card__content {
  display: flex;
  flex-direction: column;
  padding: var(--card-gap, 25px);
  gap: var(--card-gap, 25px);

  border: 2px solid #000;
  box-sizing: border-box;
}

.card__text {
  font-size: 18px;
}

.card__like-button {
  inline-size: 130px;
  display: flex;
  min-height: 38px;

  font-family: var(--press-start), sans-serif;

  align-items: center;
  align-self: end;
  justify-content: center;
  text-transform: capitalize;
  transition: color 0.5s ease-in-out;

  border: 2px solid #000;

  position: relative;
}

.card__like-button:hover {
  color: #fff;
}

.card__like-button::after {
  content: "";
  background-color: #000;
  width: 100%;
  height: 100%;
  transform: scaleX(0%);
  position: absolute;
  z-index: -1;
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover::after {
  transform: scaleX(100%);
}

.card__like-button::before {
  content: "";
  background: url("../images/like.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 40px;
  height: 76px;
  background-position-x: 0;
  background-position-y: 0;

  margin-inline-start: -150%;
  /* margin-block-start:  15%; */
}

.card__like-button:hover::before {
  animation: heart-hover 0.5s steps(2) forwards;
}

.card__like-button:active::before {
  animation: heart-active 0.5s steps(2) forwards;
}

.card__like-button.is-liked::before {
  animation: heart-like 0.5s steps(5) forwards;
}

.footer {
  inline-size: var(--adaptive-inline-size-footer);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 8px;
  border: 2px solid #000;
}

.footer__floppy {
  width: clamp(21px, calc(21px + 1vw), 25px);
  height: clamp(21px, calc(21px + 1vw), 25px);
}

.footer__button {
  font-family: var(--press-start), sans-serif;
  font-size: 14px;
  /* line-height: 55px; */
}

@media (width > 375px) {
  .footer {
    flex-direction: row;
  }
}


