/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --inter: 'Inter-Variable';
    --press-start: 'Press Start 2P';

    --inter-wght-h3: 700;
    --inter-wght-text: 400;

    --adaptive-inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
    --adaptive-inline-size-footer: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);

    --card-gap: 25px;

    --border: 2px solid #000;
}